$font-primary: Arial, sans-serif;
$font-secondary: Georgia, serif;

$color-primary: #2bff00; 
$color-secondary: #2c3e50; 
$color-text: #ffffff; 
$color-hover: #2dbc1a; 


$color-background: #1a1a1a; // Fondo oscuro
$color-text: #ffffff; // Texto claro
$color-button-bg: #28a745; // Verde oscuro para botones
$color-button-text: #ffffff; // Texto de botón en blanco
$color-button-hover: #218838; // Color de botón al hacer hover
